In [ ]:
#Q1
1.read_csv(): This function is used to read data from a CSV file and create a DataFrame.

import pandas as pd

# Read a CSV file into a DataFrame
data = pd.read_csv('data.csv')
print(data)

2.head(): This function returns the first n rows of a DataFrame. By default, it returns the first 5 rows.

import pandas as pd

# Create a DataFrame
data = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': ['a', 'b', 'c', 'd', 'e']})

# Display the first 3 rows
print(data.head(3))

3.info(): This function provides a concise summary of a DataFrame, including the data types and column names.

import pandas as pd

# Create a DataFrame
data = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': ['a', 'b', 'c', 'd', 'e']})

# Get the summary information of the DataFrame
data.info()

4.groupby(): This function is used for grouping data based on specified criteria and applying operations to the groups.

import pandas as pd

# Create a DataFrame
data = pd.DataFrame({'Category': ['A', 'B', 'A', 'B', 'A'],
                     'Value': [1, 2, 3, 4, 5]})

# Group the data by 'Category' and calculate the sum of 'Value'
grouped_data = data.groupby('Category').sum()
print(grouped_data)

5.merge(): This function is used to combine two or more DataFrames based on a common key or column.

import pandas as pd

# Create two DataFrames
data1 = pd.DataFrame({'Key': ['A', 'B', 'C'], 'Value1': [1, 2, 3]})
data2 = pd.DataFrame({'Key': ['B', 'C', 'D'], 'Value2': [4, 5, 6]})

# Merge the two DataFrames based on the 'Key' column
merged_data = pd.merge(data1, data2, on='Key')
print(merged_data)

In [2]:
#Q2
import pandas as pd

def reindex_dataframe(df):
    # Reset the index of the DataFrame starting from 1 and incrementing by 2
    df.reset_index(drop=True, inplace=True)
    df.index = df.index * 2 + 1
    return df

df = pd.DataFrame({'A': [10, 20, 30, 40], 'B': [1, 2, 3, 4], 'C': ['a', 'b', 'c', 'd']})
print("Original DataFrame:")
print(df)

reindexed_df = reindex_dataframe(df)
print("\nRe-indexed DataFrame:")
print(reindexed_df)

Original DataFrame:
    A  B  C
0  10  1  a
1  20  2  b
2  30  3  c
3  40  4  d

Re-indexed DataFrame:
    A  B  C
1  10  1  a
3  20  2  b
5  30  3  c
7  40  4  d

In [19]:
#Q3
import pandas as pd
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum_values = df['Values'].iloc[0:3].sum()
print(sum_values)

60

In [80]:
#Q4
import pandas as pd

df = pd.DataFrame({'Text': ['school', 'this is good', 'i am too happy', 'ice cream', 'egg roll', 'fried rice', 'omlette']})

# Count the number of words in each row of the 'Text' column
df['Word_Count'] = df['Text'].str.split().apply(len)

df

             Text  Word_Count
0          school           1
1    this is good           3
2  i am too happy           4
3       ice cream           2
4        egg roll           2
5      fried rice           2
6         omlette           1

In [ ]:
#Q5
The DataFrame.size and DataFrame.shape attributes in pandas provide different information about the dimensions of a DataFrame:

1.DataFrame.size: This attribute returns the total number of elements in the DataFrame. It represents the product of the 
                  number of rows and the number of columns in the DataFrame.

For example:

In [34]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
size = df.size

print(size)

6

In [ ]:
2.DataFrame.shape: This attribute returns a tuple representing the dimensions of the DataFrame, i.e., the number of rows 
                   and the number of columns.
For example:

In [35]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
shape = df.shape

print(shape)

(3, 2)

In [ ]:
To summarize, DataFrame.size provides the total number of elements in the DataFrame, while DataFrame.shape gives the 
dimensions of the DataFrame as a tuple (number of rows, number of columns).

In [ ]:
#Q6
To read an Excel file, pandas provides the read_excel() function. This function allows us to read the data from an
Excel file and create a DataFrame.

In [62]:
#Q7
import pandas as pd
df = pd.DataFrame({'Email': ['john.doe@gmail.com', 'abc@gmail.com', 'alex123@gmail.com', 'pedro.671@yahoo.com', 
                             'Tom007@hotmail.com', 'rodrigo.myself@outlook.com']})
s = df['Email'].str.split('@')
df['Username'] = s.str[0]
df

                        Email        Username
0          john.doe@gmail.com        john.doe
1               abc@gmail.com             abc
2           alex123@gmail.com         alex123
3         pedro.671@yahoo.com       pedro.671
4          Tom007@hotmail.com          Tom007
5  rodrigo.myself@outlook.com  rodrigo.myself

In [79]:
#Q8
import pandas as pd

df = pd.DataFrame({'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]})

# Filter rows based on conditions
filtered_df = df[(df['A'] > 5) & (df['B'] < 10)]

filtered_df

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [87]:
#Q9
import pandas as pd

df = pd.DataFrame({'Values':[3,8,1,7,9,9,2,5,10,6]})
mean = df['Values'].mean()
median = df['Values'].median()
sd = df['Values'].std()
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", sd)

Mean: 6.0
Median: 6.5
Standard Deviation: 3.1622776601683795

In [88]:
#Q10
import pandas as pd

def calculate_moving_average(df):
    # Sort the DataFrame by the 'Date' column in ascending order
    df.sort_values('Date', inplace=True)
    
    # Calculate the moving average using a window of size 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    return df

# Example usage
df = pd.DataFrame({'Date': ['2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04', '2023-07-05',
                            '2023-07-06', '2023-07-07', '2023-07-08', '2023-07-09', '2023-07-10'],
                   'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]})

# Convert the 'Date' column to datetime type
df['Date'] = pd.to_datetime(df['Date'])

# Calculate the moving average
df = calculate_moving_average(df)
print(df)

        Date  Sales  MovingAverage
0 2023-07-01     10           10.0
1 2023-07-02     20           15.0
2 2023-07-03     30           20.0
3 2023-07-04     40           25.0
4 2023-07-05     50           30.0
5 2023-07-06     60           35.0
6 2023-07-07     70           40.0
7 2023-07-08     80           50.0
8 2023-07-09     90           60.0
9 2023-07-10    100           70.0

In [95]:
#Q11
import pandas as pd

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05',
                            '2023-01-06', '2023-01-07', '2023-01-08', '2023-01-09', '2023-01-10']})
df['Date'] = pd.to_datetime(df['Date'])
df['Weekday'] = df['Date'].dt.day_name()
df

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday
5 2023-01-06     Friday
6 2023-01-07   Saturday
7 2023-01-08     Sunday
8 2023-01-09     Monday
9 2023-01-10    Tuesday

In [96]:
#Q12
import pandas as pd

def select_rows_between_dates(df):
    # Convert 'Date' column to datetime type
    df['Date'] = pd.to_datetime(df['Date'])

    # Filter rows based on date range
    selected_rows = df[df['Date'].between('2023-01-01', '2023-01-31')]

    return selected_rows

# Example usage
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-10', '2023-01-20', '2023-02-05', '2023-02-15'],
                   'Value': [10, 20, 30, 40, 50]})

# Select rows between '2023-01-01' and '2023-01-31'
selected_df = select_rows_between_dates(df)
print(selected_df)

        Date  Value
0 2023-01-01     10
1 2023-01-10     20
2 2023-01-20     30

In [ ]:
#Q13
The first and foremost library that needs to be imported to use the basic functions of pandas is the pandas 
library itself. The pandas library is the core library for data manipulation and analysis in Python, and it 
provides powerful data structures and functions for working with structured data.

import pandas as pd

In this import statement, pd is an alias or shorthand that is commonly used to refer to the pandas library. 
This alias allows you to access the pandas functions and classes using the pd prefix.